.repeater {
	--primary-color: #eee;
	--background-color: rgba(153, 153, 153, 0.233);
	--background-color-hover: rgba(255, 255, 255, 0.1);
	--invalid-color: rgba(155, 4, 4, 0.233);

	--primary-font-size: 19px;

	margin: 0px;
	padding: 0px 0px 5px 0px;
	font-family: Roboto;
	font-size: var(--primary-font-size);
	font-weight: 500;
	text-align: left;
	color: var(--primary-color);
}

.repeater:hover {
	background: transparent !important;
	cursor: default !important;
}

.repeater-spacer {
	height: calc(100% + 10px);
}

.repeater-icon-container {
	padding: 0px 10px 0px 11px;
}

.repeater-icon {
	--icon-button-size: 50px;
	height: var(--icon-button-size);
	max-height: var(--icon-button-size);
	width: var(--icon-button-size);
	max-width: var(--icon-button-size);
	font-size: calc(var(--icon-button-size) - 25px);
	border-radius: 50%;
	display: flex;
	place-items: center;
	place-content: center;
}

.repeater-icon-glow {
	color: red;
}

.repeater-icon:hover {
	background-color: var(--background-color-hover);
}

.repeater-body {
	position: relative;
	padding: 7px !important;
	margin: 0px 20px;
	border: 2px solid var(--primary-color);
	border-radius: 10px;
}

.repeater-body-input-container {
	margin-bottom: 4px;
	padding: 0px 5px;
}

.repeater-body-input {
	height: calc(100% + 4px);
	width: calc(100% - 4px);
	outline: none;
	border: 0px;
	border-radius: 3px;
	background-color: var(--background-color);
	font-size: 14px;
	font-family: Roboto;
	font-weight: 500;
	text-align: center;
	color: var(--primary-color);
}

.error,
.repeater-body-input:invalid {
	background-color: var(--invalid-color);
}

.repeater-body-divider {
	--divider-height: 2px;
	--divider-width: 50%;
	width: var(--divider-width);
	height: var(--divider-height);
	margin-left: calc((100% - var(--divider-width)) / 2);
	background-color: var(--primary-color);
}

.underscore {
	--underscore-height: 2px;
	position: relative;
}

.underscore::after {
	content: "";
	top: calc(100% - var(--underscore-height));
	height: var(--underscore-height);
	width: 100%;
	background-color: var(--primary-color);
}

.clickable {
	cursor: pointer;
}

.hide {
	display: none;
}
