.repeater {
	--primary-color: #eee;
	--background-color: rgba(153, 153, 153, 0.233);
	--background-color-hover: rgba(255, 255, 255, 0.1);
	--invalid-color: rgba(155, 4, 4, 0.233);

	--primary-font-size: 19px;

	margin: 0px;
	padding: 0px 0px 5px 0px;
	font-family: Roboto;
	font-size: var(--primary-font-size);
	font-weight: 500;
	text-align: left;
	color: var(--primary-color);
}

.repeater:hover {
	background: transparent !important;
	cursor: default !important;
}

.repeater-spacer {
	height: calc(100% + 10px);
}

.repeater-icon-container {
	padding: 0px 10px 0px 6px !important;
}

.repeater-icon {
	--icon-button-size: 20px;
	height: var(--icon-button-size);
	max-height: var(--icon-button-size);
	width: var(--icon-button-size);
	max-width: var(--icon-button-size);
	border-radius: 50%;
	padding: 6px;
}

.repeater-icon > svg {
	/* Font size does not want to work, so we use this hack instead. */
	height: var(--icon-button-size);
	max-height: var(--icon-button-size);
	width: var(--icon-button-size);
	max-width: var(--icon-button-size);
	transform: translate(-0.5px, 0.5px);
}

.repeater-icon-glow {
	color: red;
}

.repeater-icon:hover {
	background-color: var(--background-color-hover);
}

.repeater-body {
	display: flex !important;
	flex-direction: row;
	position: relative;
	padding: 7px 0px !important;
	max-height: 40px;
	max-width: 369px;
}

.repeater-body-input-container {
	margin-bottom: 4px;
	padding: 0px 5px;
}

.repeater-body-input {
	max-width: 80px;
	height: 25px;
	max-height: 25px;
	outline: none;
	border: 0px;
	border-radius: 3px;
	background-color: var(--background-color);
	font-size: 16px;
	font-family: Roboto;
	font-weight: 500;
	text-align: center;
	color: var(--primary-color);
}

.repeater-body-divider {
	--divider-font-size: 16px;
	margin: 0px 15px;
	font-size: var(--divider-font-size);
}

.repeater-body-divider > svg {
	position: relative;
	top: calc((var(--divider-font-size) - 2px) * 0.5);
}

.error,
.repeater-body-input:invalid {
	background-color: var(--invalid-color);
}

.clickable {
	cursor: pointer;
}

.hide {
	display: none;
}
